<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xsi:noNamespaceSchemaLocation="./schema/config.xsd">
    <global-forwards>
        <forward name="failure"     path="/util/failure.jsp" />
        <forward name="information" path="/util/information.jsp" />
        <forward name="success"     path="/util/success.jsp" />
        <forward name="warning"     path="/util/warning.jsp" />
    </global-forwards>
    <alias-mappings>
        <!-- A -->
        <!-- B -->
        <!-- C -->
        <alias name="cuentas" />
        <alias name="clientes" />
        <!-- D -->
        <!-- E -->
        <!-- F -->
        <!-- G -->
        <!-- H -->
        <alias name="home" />
        <!-- I -->
        <!-- J -->
        <!-- K -->
        <!-- L -->
        <alias name="login"/>
        <!-- M -->
        <!-- N -->
        <!-- O -->
        <!-- P -->
        <!-- Q -->
        <!-- R -->
        <!-- S -->
        <!-- T -->
        <!-- U -->
        <alias name="util" />
        <!-- V -->
        <!-- W -->
        <!-- X -->
        <!-- Y -->
        <!-- Z -->
    </alias-mappings>
</config>
