<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVC3.2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>fwk.packages</param-name>
    <param-value>ar.edu.ubp.das.mvc.</param-value>
  </context-param>
  <context-param>
    <param-name>src.packages</param-name>
    <param-value>ar.edu.ubp.das.src.</param-value>
  </context-param>
  <context-param>
    <param-name>templates.path</param-name>
    <param-value>/tpls</param-value>
  </context-param>
  <context-param>
    <param-name>action.default.path</param-name>
    <param-value>/login/Login.do</param-value>
  </context-param>
  <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>ar.edu.ubp.das.SessionFilter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/home/*</url-pattern>
        <url-pattern>/concesionarias/*</url-pattern>
        <url-pattern>/clientes/*</url-pattern>
        <url-pattern>/sorteos/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <error-page>
	<exception-type>javax.servlet.ServletException</exception-type>
	<location>/ExceptionHandler</location>
  </error-page>
  <error-page>
	<exception-type>java.lang.RuntimeException</exception-type>
	<location>/ExceptionHandler</location>
  </error-page>
  <listener>
		<listener-class>ar.edu.ubp.das.SessionCounterListener.SessionCounter</listener-class>
  </listener>
</web-app>