@CHARSET "ISO-8859-1";

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
  background-color: #f2f2f2;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 10pt;
  text-align: left;;
}

.nav.ver {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #96ccd3;
    width: 250px;
}

.item.nav.ver {
	text-align: center;
}

.nav.tit {
	width: 200px;
	text-align: center;
	color: #FFFFFF;
    display: block;
    padding: 8px 8px;
}

.item.nav.ver a {
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
.menu {
	float: left;
    width: 25%;
}
/* Middle column */
.main {
	float: left;
    width: 75%;
    height: 100%;
}
