@CHARSET "ISO-8859-1";
.nav.hor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style-type: none;
}

.item.nav.hor {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #55aaff;
}

.boton{
	background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	
}
.normal.button{
	background-color: #333;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

table{
	border: none;
	border-collapse: collapse;
}

thead{
	background-color: #55aaff;
	color: white;
	font-weight: bold;
	font-size: medium;
}
tr:nth-child(even){
	background-color: #ffffff;
}

td{
	text-align: center;
	padding: 14px 16px;
}
#site{
	background-color: #55aaff;
}